/*======== header ==========*/
.header{
    height: 9.6rem;
    background: var(--white);
    box-shadow: 0 .4rem .8rem rgba(38, 50, 56, 0.16);
}
.header__wrap{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo__img{
    height: 6.4rem;
}
.logo__text{
    margin-left: .2rem;
    padding-top: .5rem;
}
.menu{
    display: flex;
    align-items: center;
}
.menu__list{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu__item:not(:last-child){
    margin-right: 5.8rem;
    position: relative;
}
.menu__item:not(:last-child)::after{
    display: block;
    content: "";
    background: var(--orange);
    height: .8rem;
    width: .8rem;
    border-radius: 100%;
    position: absolute;
    right: -3rem;
    bottom: 1rem;
}
.menu__link{
    text-decoration: none;
    display: inline-block;
    padding-top: .2rem;
    color: var(--purple);
}
.menu__link_bold{
    font-weight: var(--font-bold);
    letter-spacing: 0.02rem;
    color: var(--black);
}
.menu_sign{
    margin-left: 12.35rem;
}

@media screen and (max-width: 1300px) {
    
}