.main-block{
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    padding-top: 8rem;
}
.main-block::before{
    content: "";
    display: block;
    height: 76.8rem;
    width: 90rem;
    background: var(--yellow);
    border-radius: 9.9rem;
    transform:  translate(19.7rem, -27.6rem) rotate(-45deg);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}
.main-block::after{
    content: "";
    display: block;
    background: url('../img/circles.svg') top right no-repeat;
    background-size: contain;
    height: 29rem;
    width: 20.9rem;
    position: absolute;
    top: 1.8rem;
    right: 0;
}
.main-block__title{
    font-weight: var(--font-black);
    font-size: 6.4rem;
    line-height: 11.5rem;
    text-align: center;
    letter-spacing: -.1rem;
    color: var(--black);
    width: 15.6em;
    margin: 0 auto;
    margin-bottom: 4.5rem;
}
.main-block__title::first-line{
    font-weight: var(--font-extra-bold);
    font-size: 1.5em;
    line-height: 1.08em;
    letter-spacing: -.03em;
}
.main-block__title b{
    color: var(--red);
    position: relative;
}
.main-block__title b::before{
    content: "";
    display: inline-block;
    position: absolute;
    bottom: -3%;
    left: -5.5%;
    width: 113.5%;
    height: 44%;
    background: var(--light-blue);
    border-radius: 99.9rem;
    z-index: -1;
}

@media screen and (max-width: 1000px){
    .main-block{
        padding-top: 12rem;
        box-sizing: border-box;
    }
    .main-block__title{
        font-size: 4rem;
    }
}